html {
  scroll-behavior: smooth;
}

.App {
  box-sizing: border-box;
  text-align: center;
}

.background {
  background-image: url("./media/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 1rem;
}

/* InputForm */
header {
  background: linear-gradient(#FFF, rgba(255, 255, 255, 0.7));
  padding: 0.5rem 0;
  top: 0;
}

input {
  font-size: 1.25rem;
  color: #000;
  font-weight: 700;
}

input:focus {
  outline: none;
}

.number-input {
  border: 0;
  border-radius: 10px;
  height: 55px;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 55px;
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
  width: 71%;

  -webkit-box-shadow: 0px 0px 17px -1px rgba(132, 132, 132, 0.15);
  -moz-box-shadow: 0px 0px 17px -1px rgba(132, 132, 132, 0.15);
  box-shadow: 0px 0px 17px -1px rgba(132, 132, 132, 0.15);
}

.wrapper {
  width: 100%;
}

.wrapper .phone {
  margin: 40px auto 0 auto;
  position: relative;
  width: 300px;
}

.wrapper .phone .phone-container {
  background: #808080;
  border-radius: 1rem;
  margin-top: 30px;
  padding-top: 30px;
  width: 100%;
}

.wrapper .phone .phone-container .keyboard {
  width: 90%;
  margin-left: 5%;
}

.wrapper .phone .phone-container .keyboard .number {
  font-size: 0;
  text-align: center;
  width: 100%;
}

.wrapper .phone .phone-container .keyboard .number.align-right {
  text-align: right;
  width: 100%;
}

.wrapper .phone .phone-container .keyboard .number span {
  color: #808080;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  width: 33%;
}

.wrapper .phone .phone-container .keyboard .number span i {
  background: #36CDCE;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 70px;
  line-height: 70px;
  transition: 250ms;
  width: 70px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-box-shadow: 8px 8px 24px 0px rgba(132, 132, 132, 0.09);
  -moz-box-shadow: 8px 8px 24px 0px rgba(132, 132, 132, 0.09);
  box-shadow: 8px 8px 24px 0px rgba(132, 132, 132, 0.09);
}

.wrapper .phone .phone-container .keyboard .number span i.hero {
  background: #F787D8;
}

.wrapper .phone .phone-container .keyboard .number span:hover i {
  color: #000;
}

.wrapper .phone .phone-container .keyboard .number span:active i {
  transform: translateY(1px);
  -webkit-box-shadow: 5px 5px 24px 0px rgba(132, 132, 132, 0.18);
  -moz-box-shadow: 5px 5px 16px 0px rgba(132, 132, 132, 0.18);
  box-shadow: 5px 5px 16px 0px rgba(132, 132, 132, 0.18);
}


/* Results */
.results {
  background: rgba(255, 255, 255, 0.9);
  margin-top: 1rem;
  padding-top: 0.25rem;
}

.word-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.word {
  background: #F5E13E;
  margin: 5px;
  padding: 0.5rem 0;
  width: 80px;
}

.dummy-word {
  height: 0 !important;
  margin: 5px;
  width: 80px;
}
