li {
  list-style-type: none;
}


.App {
  box-sizing: border-box;
  text-align: center;
}

.Converter {
  background-image: url("./media/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 100vh;*/
}

/* InputForm */
header {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 0;
  /*position: sticky;*/
  top: 0;
}

input {
  font-size: 20px;
  color: #000;
  font-weight: 700;
}

input:focus {
  outline: none;
}

.number-input {
  border: 0;
  border-radius: 10px;
  height: 55px;
  line-height: 55px;
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
  width: 71%;

  -webkit-box-shadow: 0px 0px 17px -1px rgba(132, 132, 132, 0.15);
  -moz-box-shadow: 0px 0px 17px -1px rgba(132, 132, 132, 0.15);
  box-shadow: 0px 0px 17px -1px rgba(132, 132, 132, 0.15);
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
}

.wrapper .phone {
  width: 300px;
  margin: 40px auto 0 auto;
  position: relative;
}

.wrapper .phone .phone-container {
  background: #808080;
  border-radius: 1rem;
  margin-top: 30px;
  padding-top: 30px;
  width: 100%;
}

.wrapper .phone .phone-container .keyboard {
  width: 90%;
  margin-left: 5%;
}

.wrapper .phone .phone-container .keyboard .number {
  width: 100%;
  font-size: 0;
  text-align: center;
}

.wrapper .phone .phone-container .keyboard .number.align-right {
  text-align: right;
  width: 100%;
}

.wrapper .phone .phone-container .keyboard .number span {
  color: #808080;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  width: 33%;
}

.wrapper .phone .phone-container .keyboard .number span i {
  background: #36CDCE;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  height: 70px;
  line-height: 70px;
  transition: 250ms;
  width: 70px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-box-shadow: 8px 8px 24px 0px rgba(132, 132, 132, 0.09);
  -moz-box-shadow: 8px 8px 24px 0px rgba(132, 132, 132, 0.09);
  box-shadow: 8px 8px 24px 0px rgba(132, 132, 132, 0.09);
}

.wrapper .phone .phone-container .keyboard .number span i.hero {
  background: #F787D8;
}

.wrapper .phone .phone-container .keyboard .number span:hover i {
  color: #000;
}

.wrapper .phone .phone-container .keyboard .number span:active i {
  transform: translateY(1px);
  -webkit-box-shadow: 5px 5px 24px 0px rgba(132, 132, 132, 0.18);
  -moz-box-shadow: 5px 5px 16px 0px rgba(132, 132, 132, 0.18);
  box-shadow: 5px 5px 16px 0px rgba(132, 132, 132, 0.18);
}


/* Results */
.Results {
  background: rgba(255, 255, 255, 0.9);
}

.word-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  flex-wrap: wrap;
}

.word {
  background: #F5E13E;
  margin: 5px;
  padding: 0.5rem 0;
  width: 80px;
}